@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

$font-title: "Crimson Pro", serif;
$font-text: "Work Sans", sans-serif;

$clr-bg-dk: #222831;
$clr-bg-lt: #f2f2f2;

$clr-base: lighten(#f96d00, 15%);
$clr-ntrl: #fff;
