@use "menu";
@use "about.scss";
@import "mixins";
@import "reset.css";
@import "variables";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

html {
	position: relative;

	&::before {
		background-image: url("../assets/images/bg-restaurant.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		content: " ";
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		will-change: transform;
		z-index: -1;
	}
}

body {
	display: flex;
	position: relative;
	min-height: 100vh;
	flex-flow: column;
	row-gap: 1rem
}

#content {
	@include flexCenter(column);
	justify-content: flex-start;
	row-gap: 1rem;
}

nav {
	@include flexCenter();
	@include background-opacity($clr-bg-dk, 0.85);

	padding: 0.1rem;
	border-bottom: 2px solid $clr-bg-dk;
	width: 100%;
	gap: 2rem;

	button {
		@include background-opacity($clr-bg-dk, 0);

		appearance: none;
		cursor: pointer;
		border: 1px solid rgba($color: #000000, $alpha: 0);
		font-size: 2em;
		font-family: $font-title;
		padding: 0.25em 2em;
		color: $clr-ntrl;
		transition: 200ms ease-in-out;

		&:hover {
			border: 1px solid $clr-ntrl;
			color: $clr-bg-dk;
			background-color: $clr-bg-lt;
		}
	}
}

main {
	@include flexCenter(column);
	@include background-opacity($clr-bg-dk, 0.85);
	border-radius: 3px;
	width: 50%;
	justify-content: center;
	padding: 2rem 0;
}

.section {
	@include flexCenter(column);
	row-gap: 1rem;
	width: 50%;
}

.title {
	font-size: 3em;
	white-space: nowrap;
	padding: 0.5rem;
	color: $clr-ntrl;
	border-bottom: 1px solid $clr-base;
}

.img-container {
	@include flexCenter(row);
	padding: 1.5em;
	width: 100%;
	row-gap: 3rem;
	margin: 0.5rem 0;

	img {
		border: 1px solid $clr-ntrl;
		background-color: $clr-bg-lt;
		border-radius: 4px;
		padding: 0.1rem;
	}

	h1.title {
		white-space: normal;
		flex: 1 0 75%;
		font-size: 2em;
		padding: 0.5em;
	}

	img:first-child {
		margin-right: 6rem;
	}

	h1 + img {
		margin-left: 6rem;
	}
}

.par-large {
	font-family: $font-text;
	font-size: 1.2em;
	color: $clr-bg-lt;
}

footer {
	@include flexCenter();
	@include background-opacity($clr-bg-dk, 0.9);

	margin-top: auto;
	height: 40px;
	width: 100%;
	font-size: 1em;
	font-family: $font-text;
	padding: 0.5em;
	color: $clr-ntrl;

	div {
		@include flexCenter();
	}

	.fa-github {
		color: $clr-ntrl;
		font-size: 1.5em;
		padding: 0 0.5rem;
	}
}
